* {
  margin: 0;
  padding: 0;
}

.btn {
  padding: 8px 12px;
  color: black;
  font-size: medium;
  background-color: greenyellow;
  border-radius: 5px;
  cursor: pointer;
}

.slider {
  /* margin: auto; */
  width: 95vw;
  margin: 10px 0 0 25px;
}

.text-center3 {
  display: flex;
  justify-content: center;
  height: 30px;
  font-weight: bold;
  position:sticky;
  z-index: 10;
  bottom: 0px;
  top: 5vh;
  text-align: center;
  font-size: larger;
}
.pragraph {
  position: relative;
  top: 0vh;
  text-align: center;
  font-size: x-large;
}
footer {
  background-color: var(--main-bg-color);
  color: rgb(0, 0, 0);
}
.text-center1 {
  text-align: center;
}
.text-center2 {
  background-color:rgb(98, 57, 209);
  border-radius: 6px;border-color: rgb(240, 75, 9);
  top: 5px;
  left: 25px;
  font-size: larger;
  height: 30px;
  position: relative;
  
}
.text-center2:hover{
  font-weight: bolder;
  
}
.footer2{
  text-decoration: none;
  color: black;
}